{% extends 'base.html.twig' %}

{% block title %}Gestion Véhicules{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center w-50 mx-auto my-2">{{ message }}</div>
    {% endfor %}

<div class="container">
    <h1 class="text-center my-4">Gestion des articles</h1>

    <a href="{{ path('new_vehicule') }}" class="btn btn-success mb-3">Ajouter un vehicule</a>
    <table class="table table-dark">
        <thead>
            <tr>
                {% for data in colonnes %}
                    <th>{{ data }}</th>
                {% endfor %}
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>    
                <td>{{ vehicule.titre }}</td>    
                <td>{{ vehicule.marque }}</td>    
                <td>{{ vehicule.modele }}</td>    
                <td>{{ vehicule.description }}</td>    
                <td>{{ vehicule.photo }}</td>    
                <td>{{ vehicule.prixJournalier }}</td>    
                <td>{{ vehicule.dateEnregistrement|date("d/m/Y à H:i:s") }}</td> 
                <td>
                    <a href="{{ path('edit_vehicule', {id: vehicule.id}) }}" class="text-warning"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('delete_vehicule', {id: vehicule.id}) }}" class="text-danger"><i class="fa fa-trash"></i></a>
                </td>   
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}